Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [10]:
str  = "Hello I Am Aarsh"
list = [2,5,3.14,'hi']
float = 3.1456
tuple = (1,3,2,4.77,'hello')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

ANSWERS q2:-
i.) var1 = string
ii.) var2 = string
iii.) var3 = list
iv.) var4 = float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

i.) '/' is known as divison operator which is used for dividing numbers
    eg. = result1 when 10 is divided by 3 we get quotient as 3.333
    
ii.) '%' is known as modulo operator which is used for finding remainder when two numbers are divided
    eg. = result2 when 10 is divided by 3 we get remainder as 1
    
iii.) '//' is known as floor division operator which is used to perform division and return the floor value (rounded down to the nearest whole number) as the result. 
    eg. = result3 when 10 is divided by 3 we get remainder as 3.333 whose floor value is equal to 3
     
iv.) '**' is known as exponential operator which is used to raise a number to a power.
    eg. = result4 when 10 to the power 3 is 1000

In [17]:
x = 10
y = 3
result1 = x/y
print (result1)

result2 = x%y
print (result2)

result3 = x//y
print (result3)

result4 = x**y
print(result4)

3.3333333333333335
1
3
1000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [27]:
my_list = [10, "Hello", 3.14, True, [1, 2, 3], {"name": "Aarsh", "age": 19}, ('a', 'b', 'c'), None, 5 + 2j, False]

for element in my_list:
    print("Element:", element)
    print("Data Type:", type(element))
    print()

Element: 10
Data Type: <class 'int'>

Element: Hello
Data Type: <class 'str'>

Element: 3.14
Data Type: <class 'float'>

Element: True
Data Type: <class 'bool'>

Element: [1, 2, 3]
Data Type: <class 'list'>

Element: {'name': 'Aarsh', 'age': 19}
Data Type: <class 'dict'>

Element: ('a', 'b', 'c')
Data Type: <class 'tuple'>

Element: None
Data Type: <class 'NoneType'>

Element: (5+2j)
Data Type: <class 'complex'>

Element: False
Data Type: <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [22]:
A = 100
B = 5
count = 0

while A % B == 0:
    A = A // B
    count = count + 1

print(f"Number A can be divided by number B {count} times.")

Number A can be divided by number B 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [23]:
my_list = [12, 7, 18, 9, 5, 21, 15, 4, 27, 36, 14, 10, 33, 8, 22, 30, 16, 20, 11, 25, 6, 19, 13, 24, 32]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

12 is divisible by 3.
7 is not divisible by 3.
18 is divisible by 3.
9 is divisible by 3.
5 is not divisible by 3.
21 is divisible by 3.
15 is divisible by 3.
4 is not divisible by 3.
27 is divisible by 3.
36 is divisible by 3.
14 is not divisible by 3.
10 is not divisible by 3.
33 is divisible by 3.
8 is not divisible by 3.
22 is not divisible by 3.
30 is divisible by 3.
16 is not divisible by 3.
20 is not divisible by 3.
11 is not divisible by 3.
25 is not divisible by 3.
6 is divisible by 3.
19 is not divisible by 3.
13 is not divisible by 3.
24 is divisible by 3.
32 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types, are those whose values can be modified after they are created.
eg list
Immutable data types are those whose values cannot be modified after they are created.
eg string

In [24]:
numbers = [1, 2, 3]
# Modifying the list
numbers[0] = 10
print(numbers)

[10, 2, 3]

In [28]:
name = "Aarsh"
# Trying to modify the string
name[0] = "B"

TypeError: 'str' object does not support item assignment